In [3]:
a = 0
a

0

In [4]:
a +=1
a

1

In [5]:
a += -1
a

0

# 제목
- 셀 연습하기
- 셀 실행 방법 : 재생버튼 누르기 / ctrl + Enter / shift + Enter

In [6]:
print("hio")

hio

In [ ]:
# ctrl + Enter 해당 셀만 실행
# shift + Enter 셀 실행 후 아래에 새 셀 생성

In [7]:
import numpy as np #계산속도가 빠른 선형대수학 라이브러리
import pandas as pd #엑셀같은 표를 자유자재로 쓸수 있는 라이브러리
#test 가상환경에 numpy 와 pandas 설치되어있어야함
#pip install numpy pandas

# pandas
- 크게 자료형이 2가지 있음
- Series : 리스트처럼 1줄짜리 1차원 값 / vector
- DataFrame : 2차원 값 / array

In [9]:
s = pd.Series(['apple','banana','circle','drive','email'])
s

0     apple
1    banana
2    circle
3     drive
4     email
dtype: object

In [10]:
data={'이름':['철수','영희'], '나이':[25,35]}
df = pd.DataFrame(data)
df

   이름  나이
0  철수  25
1  영희  35